## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 9
---------------------------------------

GOALS:

1. Import a messy DataFrame and fix it
2. Try a pivot
3. Play around with more advanced graphing and plotting

----------------------------------------------------------

This homework has **5 questions** and **2 exercises**.

NOTE: Be kind to yourself. Working with data can be hard! Every data set is different. **Seriously** come get help! Come to lab!

## Important Information

- Email: [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
- Office Hours: Duke 209 <a href="https://joannabieri.com/schedule.html"> Click Here for Joanna's Schedule</a>


## Announcements

**Next week - Data Ethics** You should have some resources (book or 3-4 articles) about some area of data science ethics/impacts.

## Day 9 Assignment - same drill.

1. Make sure you can **Fork** and **Clone** the Day9 repo from [Redlands-DATA101](https://github.com/Redlands-DATA101)
2. Open the file Day9-HW.ipynb and start doing the problems.
    * You can do these problems as you follow along with the lecture notes and video.
3. Get as far as you can before class.
4. Submit what you have so far **Commit** and **Push** to Git.
5. Take the daily check in quiz on **Canvas**.
7. Come to class with lots of questions!

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

## Data Science Visualization - from start to finish

Today we will do a fill analysis where we will import data, do some data cleaning (recoding), and then walk through how to create a really beautiful visualization. 

Survey of religious traditions and income.

Source: [pewforum.org/religious-landscape-study/income-distribution](https://www.pewforum.org/religious-landscape-study/income-distribution/), Retrieved 14 April, 2020

This data is saved in a .xlsx file that is in the data folder that you downloaded.

To use pd.read_excel() we need to download the openpyxl package:

In [5]:
!conda install -y openpyxl

Channels:
 - conda-forge
 - defaults
Platform: osx-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [6]:
file_name = 'data/relig-income.xlsx'
DF = pd.read_excel(file_name)

In [7]:
show(DF)

**Q1** Describe the data you see here. How many variables and observations. What are the data types? What are the units?

In [9]:
DF.shape

(12, 6)

There are 12 observations and 6 variables

1. Religous traditions is nominal data in Categorical data 
2. Less than $30,000 is discrete data in numerical data
3. Between 30,000 and 49,999 is discrete data in numerical data
4. 50,000-99,999 is discrete data in Numerical data
5. 100,000 or more is discrete data in Numerical data
6. Sample size is discrete data in Numerical data

**Q2** Following along with the lecture, say in words what each section of the code below does:

**(Click here to answer each one)**

* Section 1 - The first section is renaming the column "regligious traditions" into the name "religion" by changing the data frame directly.
* Section 2 - Data is taken into pd.melt and our first column is the names of all of the religions, our second column makes sure that income is labeled correctly, and our third column takes all the values of proportion and puts them into one column. 
* Section 3 - In this column we are creating a new column named frequency and finding the frequency of observations. This is done through multiplying the proportion column and sample size. 
* Section 4 - We are getting rid of the dollar signs. 
* Section 5 - This is making the numbers on the left hand side appear in order from 0 to 47. 
* Section 6 - This is setting the variable name_to_change as the old name "Unaffiliaited (religious "nones") and the setting the new variable new_name to "Unaffiliated" and using the .replace command to replace the name of the variables in the reglion column.  
* Section 7 - This is setting the variable name_to_change " Historically Black Protestant" as the old name and the setting the new variable new_name "Hist. Black Protestant" and using the .replace command to replace the name of the variables in the reglion column.
* Section 8 - This is setting the variable name_to_change "Evangelical Protestant" as the old name and the setting the new variable new_name "Ev. Protestant" and using the .replace command to replace the name of the variables in the reglion column.

In [13]:
# Section 1
DF.rename(columns={ 'Religious tradition':'religion' ,'Sample Size' : 'n' },inplace=True)
# Section 2
DF_new = pd.melt(DF, id_vars=['religion','n'], var_name='income', value_name='proportion').sort_values('religion')
# Section 3
DF_new['frequency']=np.round(DF_new['proportion']*DF_new['n'])
# Section 4
DF_new['income']=DF_new['income'].apply(lambda x: str(x).replace('$',''))
# Section 5
DF_new.reset_index(inplace=True)

# Section 6
name_to_change = 'Unaffiliated (religious "nones")'
new_name = 'Unaffiliated'
DF_new['religion']=DF_new['religion'].replace(name_to_change,new_name)

# Section 7
name_to_change =  'Historically Black Protestant'
new_name = 'Hist. Black Protestant'
DF_new['religion']=DF_new['religion'].replace(name_to_change,new_name)

# Section 8
name_to_change = 'Evangelical Protestant'
new_name = 'Ev. Protestant'
DF_new['religion']=DF_new['religion'].replace(name_to_change,new_name)

DF_new

,index,religion,n,income,proportion,frequency
0,0,Buddhist,233,"Less than 30,000",0.36,84.0
1,24,Buddhist,233,"50,000-99,999",0.32,75.0
2,36,Buddhist,233,"100,000 or more",0.13,30.0
3,12,Buddhist,233,"30,000-49,999",0.18,42.0
4,1,Catholic,6137,"Less than 30,000",0.36,2209.0
5,25,Catholic,6137,"50,000-99,999",0.26,1596.0
6,13,Catholic,6137,"30,000-49,999",0.19,1166.0
7,37,Catholic,6137,"100,000 or more",0.19,1166.0
8,26,Ev. Protestant,7462,"50,000-99,999",0.28,2089.0
9,38,Ev. Protestant,7462,"100,000 or more",0.14,1045.0
10,14,Ev. Protestant,7462,"30,000-49,999",0.22,1642.0
11,2,Ev. Protestant,7462,"Less than 30,000",0.35,2612.0
12,3,Hindu,172,"Less than 30,000",0.17,29.0
13,27,Hindu,172,"50,000-99,999",0.34,58.0
14,15,Hindu,172,"30,000-49,999",0.13,22.0
15,39,Hindu,172,"100,000 or more",0.36,62.0
16,40,Hist. Black Protestant,1704,"100,000 or more",0.08,136.0
17,4,Hist. Black Protestant,1704,"Less than 30,000",0.53,903.0
18,28,Hist. Black Protestant,1704,"50,000-99,999",0.17,290.0
19,16,Hist. Black Protestant,1704,"30,000-49,999",0.22,375.0
20,17,Jehovah's Witness,208,"30,000-49,999",0.25,52.0
21,29,Jehovah's Witness,208,"50,000-99,999",0.22,46.0
22,41,Jehovah's Witness,208,"100,000 or more",0.04,8.0
23,5,Jehovah's Witness,208,"Less than 30,000",0.48,100.0
24,42,Jewish,708,"100,000 or more",0.44,312.0
25,30,Jewish,708,"50,000-99,999",0.24,170.0
26,6,Jewish,708,"Less than 30,000",0.16,113.0
27,18,Jewish,708,"30,000-49,999",0.15,106.0
28,31,Mainline Protestant,5208,"50,000-99,999",0.28,1458.0
29,43,Mainline Protestant,5208,"100,000 or more",0.23,1198.0
30,19,Mainline Protestant,5208,"30,000-49,999",0.20,1042.0
31,7,Mainline Protestant,5208,"Less than 30,000",0.29,1510.0
32,20,Mormon,594,"30,000-49,999",0.20,119.0
33,32,Mormon,594,"50,000-99,999",0.33,196.0
34,44,Mormon,594,"100,000 or more",0.20,119.0
35,8,Mormon,594,"Less than 30,000",0.27,160.0
36,33,Muslim,205,"50,000-99,999",0.29,59.0
37,45,Muslim,205,"100,000 or more",0.20,41.0
38,9,Muslim,205,"Less than 30,000",0.34,70.0
39,21,Muslim,205,"30,000-49,999",0.17,35.0
40,22,Orthodox Christian,155,"30,000-49,999",0.17,26.0
41,34,Orthodox Christian,155,"50,000-99,999",0.36,56.0
42,10,Orthodox Christian,155,"Less than 30,000",0.18,28.0
43,46,Orthodox Christian,155,"100,000 or more",0.29,45.0
44,23,Unaffiliated,6790,"30,000-49,999",0.20,1358.0
45,11,Unaffiliated,6790,"Less than 30,000",0.33,2241.0
46,35,Unaffiliated,6790,"50,000-99,999",0.26,1765.0
47,47,Unaffiliated,6790,"100,000 or more",0.21,1426.0

## Make a Bar Plot

## There are SO MANY CUSTOMIZATION OPTIONS!

You are not expected to have all of these options memorized. You should just know that these things are possible and then look up examples for how to do fancier things. I always start simple and then add on from there.

## Final Plot

In [ ]:

fig = px.bar(DF_new,
             y='religion',
             x='proportion',
             color='income',
             color_discrete_sequence=px.colors.qualitative.Vivid,
             category_orders={'income' : ['Less than 30,000', '30,000-49,999', '50,000-99,999', '100,000 or more']})

fig.update_layout(template="plotly_white",
                  title='Income Distribution by religious group <br><sup>Data Source: Pew Research Center, Religious Lansdcape Study</sup>',
                  title_x=0.5,
                  yaxis={'categoryorder': 'category descending'},
                  xaxis_title="Proportion",
                  yaxis_title="",
                  legend_title='Income',
                  legend={'orientation':"h",'yanchor':"bottom",'y':-0.2, 'xanchor':"right",'x':1.05},
                  font={'family':"Courier New, monospace",'size':16,'color':"Darkblue"},
                  autosize=False,
                  width=1000,
                  height=800)

fig.show()

## Exercise 1

Make your own version of the plot above. Here are some changes you should try:

* Change the font family - some common fonts to try:
  
        ["Arial",
        "Balto",
        "Courier New",
        "Droid Sans",
        "Droid Serif",
        "Droid Sans Mono",
        "Gravitas One",
        "Old Standard TT",
        "Open Sans",
        "Overpass",
        "PT Sans Narrow",
        "Raleway",
        "Times New Roman"]

* Move the legend to somewhere else.

* Change the template and the color.

* Advanced - look up how you can change the pattern_shape or pattern_shape_sequence.

## Exercise 2

In this exercise we are going to import some very messy data and see how we can Recode, Tidy, and Pivot the data!

### 1. Import the data from the file: file_name = 'data/sales.xlsx'

Look at the DataFrame, the data is not in a great format. Why is this data not tidy? List a few reasons that this data has problems.

In [19]:
# Your code here

**(Click Here to answer questions)**

This is what you should see:

![DataFrame1](images/DF1.png)


### 2. Now we need to fix this data - when we read this in there are some weird things happening.

Open the .sales.xlsx file and look in there. Notice that there are two weird rows at the top. 

How can we read the data in and skip some rows? Try running the command below to read the documentation. Are there any commands that might help us skip the first three rows when reading in the data?

In [22]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      ~/anaconda3/lib/python3.12/site-packages/pandas/io/excel/_base.py
Type:      function

Try writing your own code that will read in the data, skipping three rows, so that it looks like this:

![DataFrame2](images/DF2.png)

### 3. This is better, but let's rename the columns

In the lecture above we learned how to rename columns. Rename the columns in this DataFrame so that 'Unnamed: 0' becomes 'id' and 'Unnamed: 1' becomes 'n'. Your DataFrame should look like

![DataFrame3](images/DF3.png)

### 4. This is better, but....

This is not yet a tidy data frame. Why not?

**(Your answer here)**


**How do we make it tidy?**

We need to manipulate the data so that we have three columns. The brand, the id, and then the number of sales, but the brand information is mixed up in the id row. We are going to use the following command:

    brand_data = DF['id'].apply(lambda x: x if 'Brand' in str(x) else np.nan)

Tell me what each part of this command does. For example break down each piece:

a. DF['id']

b. .apply()

c. lambda x: x if 'Brand' in str(x) else np.nan

HINT1 - here you see something new and if else statement.  

- The command **'Brand' in str(x)** will check to see if the word 'Brand' is in each row. This will return True or False.
- To test this try **DF['id'].apply(lambda x: 'Brand' in str(x))** in a separate cell.
- The **if** statement checks to see if **'Brand' in str(x)** is True. If it is true it returns the x (original data). Otherwise it returns **np.nan**
- **np.nan** is how we can get Not a Number.

**(Your explanation of the command here)**

In [29]:
# Now just run the command
brand_data = DF['id'].apply(lambda x: x if 'Brand' in str(x) else np.nan)
brand_data

KeyError: 'id'

### 5. Create a new empty column to store our brand_data

You should know how to add a new column to a data frame. Use the column name 'brand'.

In [ ]:
# Your code here

### 6. Lets fill up those NaNs with the brand information

The command **.ffill()** works like magic! It goes down the column and will fill any NaNs with the information from the cells above, until it gets to another good value. Check out what this command does!

```{python}
DF=DF.ffill()
```

Your data frame should look like

![DataFrame4](images/DF4.png)

In [ ]:
# Your code here (copy and paste)

### 7. Finally mask out the rows that have bad 'id'

Create a mask using 

    mask = DF['id'].apply(lambda x:'Brand' not in str(x) )

then apply that mask to get

![DataFrame5](images/DF5.png)

In [ ]:
# Your code here

### 7. Now lets pivot!!

Try out the **.pivot()** command. See if you can create a DataFrame that looks like this:

![DataFrame6](images/DF6.png)

    DF_new.pivot(index=???, columns=???,values=???)


This is hard! The lecture notes have hints and answers!

In [ ]:
# Your code here